<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel obslugi magazynu</title>
    <meta name="description" content="Serwis koordynujący pracę magazynu" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>


    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/framework/css/stylw.css') }}" />

</head>
<body>

<div id="container">

    <div id="logo">
        Magazyn
    </div>

    <div id="menu">
        <div class ="option">Strona główna

                <a href="{{ path('products_index') }}"> Przedmioty</a>

        </div>
        <div class ="option">Kontakt</div>
        <div class ="option">Logistyka</div>
        <div style="clear: both;"></div>

    </div>

    <div id="topbar">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac est vitae ipsum pharetra facilisis. Vivamus semper ultrici. . Vivamus sit amet sollicitudin mauris. Nunc id justo vitae sem sollicitudin ornare quis ac nisi. Donec tincidunt leo dolor, ac tempor mauris ultricies ut. Mauris ac tempus felis. Integer a sollicitudin leo. Nunc metus nisl, eleifend
        <div style="clear: both;"></div>
    </div>

    <div id="sidebar">
        <div class ="optionL">Strona główna</div>
        <div class ="optionL">Kontakt</div>
        <div class ="optionL">Logistyka</div>
        <div style="clear: both;"></div>
    </div>

    <div id="content">


        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac est vitae ipsum pharetra facilisis. Vivamus semper ultricies laoreet. Phasellus metus ante, lobortis vitae porta at, varius ut magna. Nullam at magna id libero accumsan tempor. Integer magna elit, feugiat vel lacus a, pulvinar tincidunt enim. Vestibulum non sapien a ipsum commodo gravida at vitae nibh. Praesent nec rhoncus ipsum. Fusce dictum diam nec nisi viverra, vitae finibus eros posuere. Nunc quis hendrerit tellus.
        <br/>
        Nam erat ipsum, congue vitae leo eu, rutrum porttitor ligula. Donec nisl turpis, cursus eget pretium mattis, hendrerit non dui. Vivamus sit amet sollicitudin mauris. Nunc id justo vitae sem sollicitudin ornare quis ac nisi. Donec tincidunt leo dolor, ac tempor mauris ultricies ut. Mauris ac tempus felis. Integer a sollicitudin leo. Nunc metus nisl, eleifend ac feugiat eu, ultricies in arcu. Cras suscipit dolor eget dolor rutrum laoreet. Aliquam convallis tempus ipsum, ut pulvinar sapien posuere in. Donec accumsan vitae neque eu luctus. Pellentesque ex tellus, bibendum et luctus in, facilisis quis nisi. In hac habitasse platea dictumst. Integer sit amet sem arcu. Aenean ac mauris viverra, luctus justo eget, condimentum ante.
        <br/>
        Fusce faucibus id odio quis posuere. Cras semper rutrum mi, id pharetra odio eleifend id. Donec turpis turpis, tincidunt nec maximus at, laoreet quis diam. Proin vel diam dolor. Nunc mollis laoreet iaculis. Sed sodales aliquet tristique. Maecenas tincidunt pellentesque risus vitae pretium. Proin sit amet dignissim arcu, vitae auctor lectus. Sed sed mollis magna. Duis vestibulum, justo posuere pretium posuere, ante felis consequat velit, feugiat dignissim urna diam a metus.
    </div>

    <div id="footer">
        Magazynnnnn &copy;
    </div>

</div>

</body>
</html>