{%  extends "::base.html.twig" %}

{%  block title %}AppBundle:Front:Index{%  endblock %}

{% block body %}
    <h1>Witamy w Panelu obslugi magazynu</h1>

    >
    <a href="{{ path('login') }}">Zaloguj</a>
    <a href="{{ path('user_registration') }}">Zarejestruj</a>



{% endblock %}